.container {
    display: flex;
    flex-direction: column;
    width: 483.94px;
    height: 249px;  
    justify-content: space-between;
}

.details {
    display: inline-flex;
    justify-content: space-between;
}

h1 {
    width: 100%;
    height: auto;
    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 40.96px;
    line-height: 42px;
    color: #FFFFFF;

}

.details h3 {
    font-family: Epilogue;
    font-style: normal;
    font-weight:normal;
    font-size: 20.97px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 0.5rem 0;
}

.detailOut h3 {
    font-weight: 900;
    color: #33b1fa;
}