.temp {
    width: 288.54px;
    height: 205.52px;
    font-family: 'Epilogue', sans-serif;    font-style: normal;
    font-weight: bold;
    font-size: 195.31px;
    line-height: 200px;

    color: #FFFFFF;
}